*{
	margin:0;
	padding:0;
}
body{
	width:100%;
	height:50px;
	background-color:#c7c7c7;
	font-family:Agency FB;
	font-size:21px;
	
}

#header{
	width:100%;
	height:50px;
	background-color:#000000;
	
}
#header ul{
	list-style-type:none;
	font-family:Agency FB;
	margin-left:250px;
	margin-right:250px;
	
}
#menu1 li {
	float:left;
	padding-top:20px;
	padding-right:75px;
	font-size:25px;
	color:white;
}

#menu1{
	position:absolute;
	left:-60px;
}
#menu2{
	position:absolute;
	right:0px;
}
#menu2 li {
	float:right;
	padding-top:20px;
	padding-left:75px;
	font-size:25px;
	color:#ffffff
}


#logo{
	position:absolute;
	left:565px;
	
}
#logo img{
	width:55%;
	height:auto;
}
#header h1{
	position:absolute;
	top:60px;
	left:10px;
	color:#28afc4;
	font-family:Georgia;
}
#header h2{
	position:absolute;
	top:110px;
	left:10px;
	font-family:Georgia;
	font-style:italic;
	}